<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_IService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Back-End/Service1.svc/soap"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IService"
                contract="ServiceReference1.IService" name="MetadataExchangeHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>